body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
}

#toggleTable {
    position: fixed;
    left: 0%;
    bottom: 0%;
}

#info, #table-container {
    width: 20%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

table {
    width: 95%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid grey;
    padding: 5px;
    text-align: left;
    max-width: 25%;
    overflow: hidden;
}

th {
    font-weight: bold;
}

td {
    cursor: pointer;
}

th:nth-child(5) {
    max-width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#info h1, #info p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

label {
    font-weight: bold;
}

input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 80px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#canvas {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

svg {
    width: 90%;
    height: 90%;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
